#preloader{
    position:relative;
	width:54px;
	height:7px;
	margin:auto;
    display: none;
}

.preloader{
	position:absolute;
	top:0;
	background-color:rgb(0,0,0);
	width:7px;
	height:7px;
	animation-name:bounce_preloader;
		-o-animation-name:bounce_preloader;
		-ms-animation-name:bounce_preloader;
		-webkit-animation-name:bounce_preloader;
		-moz-animation-name:bounce_preloader;
	animation-duration:1.165s;
		-o-animation-duration:1.165s;
		-ms-animation-duration:1.165s;
		-webkit-animation-duration:1.165s;
		-moz-animation-duration:1.165s;
	animation-iteration-count:infinite;
		-o-animation-iteration-count:infinite;
		-ms-animation-iteration-count:infinite;
		-webkit-animation-iteration-count:infinite;
		-moz-animation-iteration-count:infinite;
	animation-direction:normal;
		-o-animation-direction:normal;
		-ms-animation-direction:normal;
		-webkit-animation-direction:normal;
		-moz-animation-direction:normal;
	transform:scale(.3);
		-o-transform:scale(.3);
		-ms-transform:scale(.3);
		-webkit-transform:scale(.3);
		-moz-transform:scale(.3);
	border-radius:4px;
		-o-border-radius:4px;
		-ms-border-radius:4px;
		-webkit-border-radius:4px;
		-moz-border-radius:4px;
}

#preloader_1{
	left:0;
	animation-delay:0.466s;
		-o-animation-delay:0.466s;
		-ms-animation-delay:0.466s;
		-webkit-animation-delay:0.466s;
		-moz-animation-delay:0.466s;
}

#preloader_2{
	left:7px;
	animation-delay:0.5825s;
		-o-animation-delay:0.5825s;
		-ms-animation-delay:0.5825s;
		-webkit-animation-delay:0.5825s;
		-moz-animation-delay:0.5825s;
}

#preloader_3{
	left:13px;
	animation-delay:0.699s;
		-o-animation-delay:0.699s;
		-ms-animation-delay:0.699s;
		-webkit-animation-delay:0.699s;
		-moz-animation-delay:0.699s;
}

#preloader_4{
	left:20px;
	animation-delay:0.8155s;
		-o-animation-delay:0.8155s;
		-ms-animation-delay:0.8155s;
		-webkit-animation-delay:0.8155s;
		-moz-animation-delay:0.8155s;
}

#preloader_5{
	left:27px;
	animation-delay:0.932s;
		-o-animation-delay:0.932s;
		-ms-animation-delay:0.932s;
		-webkit-animation-delay:0.932s;
		-moz-animation-delay:0.932s;
}

#preloader_6{
	left:34px;
	animation-delay:1.0485s;
		-o-animation-delay:1.0485s;
		-ms-animation-delay:1.0485s;
		-webkit-animation-delay:1.0485s;
		-moz-animation-delay:1.0485s;
}

#preloader_7{
	left:40px;
	animation-delay:1.165s;
		-o-animation-delay:1.165s;
		-ms-animation-delay:1.165s;
		-webkit-animation-delay:1.165s;
		-moz-animation-delay:1.165s;
}

#preloader_8{
	left:47px;
	animation-delay:1.2915s;
		-o-animation-delay:1.2915s;
		-ms-animation-delay:1.2915s;
		-webkit-animation-delay:1.2915s;
		-moz-animation-delay:1.2915s;
}



@keyframes bounce_preloader{
	0%{
	transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-o-keyframes bounce_preloader{
	0%{
	-o-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-o-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-ms-keyframes bounce_preloader{
	0%{
	-ms-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-ms-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-webkit-keyframes bounce_preloader{
	0%{
	-webkit-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-webkit-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}

@-moz-keyframes bounce_preloader{
	0%{
	-moz-transform:scale(1);
		background-color:rgb(0,0,0);
	}

	100%{
	-moz-transform:scale(.3);
		background-color:rgb(255,255,255);
	}
}